/* Hoja de estilos para la ventana de login */

/* Estilos de toda la página */
* {
    background-color: #1B1D1C;
    color: white;
    font-family: "Roboto";
}

/* Botón de volver */
.volver {
    margin-top: 100px;
    background-color:#2A9D8F;
    font-size: 60px;
    border-radius: 30px;
    width: 500px;
    height: 150px;
    margin-left: 35%;
    align-content: center;
} 

h1 {
    font-size: 118px;
    color: #2A9D8F;
    text-align: center;
    margin-top: 33%;
}

#informacion {
    margin-top: 17%;
    margin-left: 10%;
    margin-right: 10%;
}

p {
    text-justify: auto;
    font-size: 49px;
    border-style: solid;
    padding: 20px;
    border-width: 2px;
    border-radius: 10px;
    border-color: #2A9D8F;
}