/* Hoja de estilos para la ventana de login */

/* Estilos de toda la página */
* {
    background-color: #0000;
    color: white;
    font-family: "Roboto";
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

/* Botón de telecole */

.telecole {
    margin-top: 30px;
    font-size: 25px;
    font-weight: 600;
    background-color: #E8B34A;
    border-radius: 30px;
    border-color: black;
    border-style: solid;
    border-width: 4px;
    width: 300px;
    height: 80px;
    display: flex;
    margin-left: 50px;
} 


/* Botón de Mis Asignaturas */
.asignaturas {
    margin-top:30px;
    margin-bottom: 10px;
    background-color:#006BD5;
    font-size: 25px;
    border-radius: 30px;
    font-weight: 600;
    border-color: black;
    border-style: solid;
    border-width: 4px;
    width: 300px;
    height: 80px;
    margin-left: 50px;
    align-content: center;
} 

h1 {
    font-size: 30px; 
    color: #2A9D8F;
    text-align: left;    
    margin-top: 40px;
    margin-left: 40px;  
}

h2 {
    font-size: 30px; 
    color: #E36A6A;
    text-align: left;    
    margin-top: 50px;
    margin-left: 40px;  
}

#informacion {
    margin-left: 10%;
    margin-right: 10%;
}

p {
    text-justify: auto;
    font-size: 20px;
    color: black;
    border-style: solid;
    padding: 20px;
    border-width: 2px;
    border-radius: 10px;
    border-color: black;
}


/* Todo lo de la NavBar */

/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}


/* Dropdown container - needed to position the dropdown content */

.navtext {
  font-size: 25px;
  background-color: inherit;
  text-align: right;
  margin-top: 20px;
  margin-right: 80px;
  font-family: inherit;
  
}

.imgLogo {

  margin-left: 215px;
  padding-top: 3px;
  margin-top: -55px;
  
}


/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 60px;
  border: none;
  outline: none;
  padding-right: 30px;
  padding-left: 30px;
  color: white;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #2A9D8F;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
