*{
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.accordion {
    cursor: pointer;
    width:  370px;
    height: 80px;
    text-align: left;
    transition: 0.4s;
    border-radius: 10px;
    font-size: 30px;
    justify-content: center;
    border-width: 2px;
    align-content: center;
    border-color: #000;
    border-top: transparent;
    /* border-right: transparent; */
    border-left: transparent;
    border-bottom: transparent;
    color: white;
    padding-left: 6%;
}
.active{
    border-bottom: solid;
    border-color: black;
}

.teoria{
    background-color: rgba(0, 107, 213, 0.6);
}
.ejercicios{
    background-color: rgba(235, 141, 58, 1.0);
}
.grabaciones{
    background-color: rgba(242, 86, 82, 1.0);
}
.tareas{
    background-color: rgba(42, 157, 143, 0.87);
}
.foro{
    background-color: rgba(255, 118, 245, 1.0);
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */

/* Style the accordion panel. Note: hidden by default */
.panel {
    margin-top: 8px;    
    width:  370px;
    display: none;
    overflow: hidden;
    align-content: center;
}

.borde{
    margin-top: 40px;
    margin-left: 5%;
    width:  370px;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    border-color: #000;
    margin-bottom: 10%;
}

.subirarchivo {
    margin-top:15px;
    margin-bottom: 10px;
    background-color:#9E52F2;
    font-size: 25px;
    border-radius: 30px;
    color: white;
    font-weight: 600;
    border-color: black;
    border-style: solid;
    border-width: 4px;
    width: 300px;
    height: 80px;
    margin-left: 50px;
    align-content: center;
} 


p{
    font-size: 15px;
    line-height: 2.8;
}

.enunciado{
    margin-top: 12px;
    margin-left: 10%;
    margin-right: 10%;
    border-style: solid;
    padding: 15px;
    border-width: 2px;
    border-radius: 10px;
    border-color: #000;
    margin-bottom: 8px;
}

.recuadro{
    margin-top: 15px;
    text-justify: auto;
    font-size: 15px;
    padding-left: 5%;
}
.responder{
    font-size: 17px;
    margin-left: 60%;
    margin-bottom: 5px;
}

.anteriores{
    font-size: 13px;
    margin-bottom: -31px;
    margin-left: 28%;
}

.hilo{
    font-size: 20px;
    margin-left: 24%;
    margin-top: 4%;
    margin-bottom: 4%;
    font-weight: 700;
}


/* Botón de telecole */

.telecole {
    margin-top: 20px;
    margin-bottom: 7px;
    font-size: 25px;
    font-weight: 600;
    background-color: #E8B34A;
    color: white;
    border-radius: 30px;
    border-color: black;
    border-style: solid;
    border-width: 4px;
    width: 300px;
    height: 80px;
    text-decoration: none;
    display: flex;
    margin-left: 50px;
} 




