/* Hoja de estilos para la ventana de login */

/* Estilos de toda la página */
* {
    background-color: #1B1D1C;
    color: white;
    font-family: "Roboto";
}

/* Botón de enviar*/
.enviar {
    margin-top: 30px;
    background-color:#2A9D8F;
    font-size: 20px;
    border-radius: 30px;
    width: 200px;
    height: 50px;
    margin-left: 10px;
} 

/* Formulario de recuperación de contraseña */
#formulario {
    margin-top: 100px;
    text-align: center;
}

label {
    margin-bottom: 20px;
    font-size: 30px; 
    color: #2A9D8F; 
}

/* Cuadro de texto para introducir usuario o contraseña */
input {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 7px;
    height: 30px;
    width: 75%;
}

h1 {
    font-size: 40px; 
    color: #2A9D8F;
    text-align: center;    
    margin-top: 30px;   
}
