/* Hoja de estilos para la ventana de login */

/* Estilos de toda la p치gina */
* {
    background-color: #1B1D1C;
    color: white;
    font-family: "Roboto";
}

/* Formulario de login */
label {
    font-size: 100px; 
    color: #2A9D8F;   
}

#logo {
    margin-top: 250px;
    align-items: center;
    align-self: center;
    margin-left: 225px;
}

img {
    width: 400px;
    height: 400px;
    align-self: center;
}

h1 {
    font-size: 100px; 
    color: #2A9D8F;
    text-align: center;       
}

#formulario {
    margin-top: 150px;
    margin-left: 100px;
}

/* Cuadro de texto para introducir usuario o contrase침a */
input {
    background-color:white;
    font-size: 80px;
    border-radius: 30px;
    width: 700px;
    height: 100px;
}

/* Bot칩n de login*/
.acceder {
    margin-top: 150px;
    background-color:#2A9D8F;
    font-size: 80px;
    border-radius: 30px;
    width: 600px;
    height: 200px;
    margin-left: 80px;
}

p {
    text-decoration: underline;
    margin-top: 20px;
    text-align: right;
    font-size: 30px;
    margin-right: 150px;
}

.cambiarPassword{
    margin-top: 150px;
    margin-bottom: 200px;
    background-color:#2A9D8F;
    font-size: 70px;
    border-radius: 30px;
    width: 600px;
    height: 200px;
    margin-left: 80px;
}

#icono {
    margin-top: 250px;
    align-items: center;
    align-self: center;
    margin-left: 275px;
}

/* Bot칩n de enviar*/
.enviar {
    margin-top: 100px;
    background-color:#2A9D8F;
    font-size: 60px;
    border-radius: 30px;
    width: 500px;
    height: 150px;
    margin-left: 150px;
}

.correo{
    margin-left: 80px;
}
.textfield{
    margin-left: 40px;
}
.nombre{
    font-size:40px; 
    color: #2A9D8F; 
          
}