/* Hoja de estilos para la ventana de login */

/* Estilos de toda la página */
* {
    background-color: #1B1D1C;
    color: white;
    font-family: "Roboto";
}

/* Formulario de login */
label {
    font-size: 30px; 
    color: #2A9D8F;   
}

/* Cuadro de texto para introducir usuario o contraseña */
input {
    background-color: white;
    border-radius: 7px;
}

/* Botón de login*/
.acceder {
    background-color: #2A9D8F;
    font-size: 20px;
} 