/* Hoja de estilos para la ventana de logout */

/* Estilos de toda la página */
* {
    background-color: #1B1D1C;
    color: white;
    font-family: "Roboto";
}

#titulo {
    margin-top: 80px;
}

h1 {
    font-size: 40px; 
    color: #2A9D8F;
    text-align: center;       
}

#logo {
    margin-top: 100px;
    align-items: center;
    align-self: center;
    text-align: center;
    
}

img {
    width: 200px;
    height: 200px;
    align-self: center;
}

/* Botón de login*/
.login {
    margin-top: 70px;
    background-color:#2A9D8F;
    font-size: 20px;
    border-radius: 30px;
    width: 200px;
    height: 50px;
    margin-left: 100px;
} 

p {
    color: #006DFF;
    text-decoration: underline;
    margin-top: 50px;
    text-align: right;
    margin-right: 50px;
    font-size: 20px;
}
