/* Hoja de estilos básica común a la mayoría de pantallas */

* {
    color: #2A9D8F;
    font-family: "Roboto";
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}

.header {
    background-color: teal;
}

.hamburguesa {
    background-color: teal;
}


