
* {
    background-color: #333;
    color: white;
    font-family: "Roboto";
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}




/* Formulario de login */
label {

    font-size: 25px; 
    color: #2A9D8F;

}

#icono {
    
    text-align: center;
    align-items: center;
    
}

.nombre{
    font-size:30px; 
    color: #2A9D8F; 

}


/* Cuadro de texto para introducir usuario o contraseña */
input {
    margin-top: 20px;
    margin-left: 120px;
    margin-bottom: 10px;
    background-color: white;
    border-radius: 7px;
    height: 60px;
    width: 75%;
    color: black;
    font-size:25px;
}

#formulario {
    margin-top: 50px;
    align-items: center;
}

.cambiarPassword{
    background-color:#2A9D8F;
    font-size: 20px;
    border-radius: 30px;
    margin-bottom: 30px;
    width: 250px;
    height: 65px;
    margin-left: 80px;
    
}

/* Botón de enviar*/
.enviar {
    margin-top: 20px;
    background-color:#2A9D8F;
    font-size: 20px;
    border-radius: 30px;
    width: 250px;
    height: 65px;
    margin-left: 80px;
    

}

.correo{
    margin-left: 40px;
    margin-top: 30px;
}
.textfield{
    margin-left: 40px;
    margin-top: 20px;
}



/* Todo lo de la NavBar */

/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}


/* Dropdown container - needed to position the dropdown content */

.navtext {
  font-size: 25px;
  background-color: inherit;
  text-align: right;
  margin-top: 20px;
  margin-right: 80px;
  font-family: inherit;
  
}

.imgLogo {

  margin-left: 215px;
  padding-top: 3px;
  margin-top: -55px;
  
}


/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 60px;
  border: none;
  outline: none;
  padding-right: 30px;
  padding-left: 30px;
  color: white;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #2A9D8F;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
