
h3 {
    color: #333;
    text-align: center;
    padding-top: 11px;
    font-size: 20px;

}

.row {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    padding-top: 40px;
}


.asignatura{
  text-align: center;
  color: gray;

}
.icono-asignatura{
    width: 90px;
    height: 90px;
    margin-left: 10px !important; 
    margin-top: 3px !important;
    padding: 9px !important; 
}
