* {
    font-family: "Roboto";
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    overflow-y: hidden;
}

.pizarra {
    background-color: white;
}

.botones {
    background-color: #1B1D1C;
    display: flex;
    justify-content: space-around;
    padding: 0%;
    width: 100%;
}

button {
    border: 0px;
    background-color: #1B1D1C;
    color: white;
}

img {
    height: 50px;
    width: 50px;
    margin-top: 10px;
    margin-bottom: 9px;
}

.icono {
    border: solid;
    border-width: 2px;
    border-color: black;
}

.barra {
    background-color: #1B1D1C;
    height: 90px;
    color: white;
    display: flex;
    justify-content: space-around;
}

.fondo {
    width: 100%;
    height: inherit;
}

h1 {
    margin-top: 25px;
}

p {
    margin-top: 5px;
    margin-bottom: 5px;
}

.salir {
    border: solid;
    border-width: 2px;
    border-radius: 10px;
    border-color: #2A9D8F;
    background-color: white;
    margin-top: 10px;
    height: 50px;
    width: 50px;
}